@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&display=swap');

$dark: #33030f;
$hover: rgba(94, 5, 27, 0.5);
$white: #feedf3;
$pink: #b2405d;

$general: 'Jost', sans-serif;
$cursive: 'Josefin Sans', sans-serif;