@import "./assets/scss/general";
* {
  margin: 0;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(7, 7, 7);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b2405d;
    border-radius: 25px;
  }
}
.App {
  width: 100%;
  color: $white;
  font-family: $general;
}
